name: Generate Snake

permissions:
  contents: write

on:
  schedule:
    - cron: "0 */12 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          persist-credentials: true

      - name: Generate Snake SVG
        uses: Platane/snk@v3
        with:
          github_user_name: "ElielElanoChavesSilva"
          svg_out_path: output/github-contribution-grid-snake.svg

      - name: Commit and push to output branch
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "Generate snake animation"
          branch: output
          file_pattern: output/**
